:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  /* Prevent scrolling */
}

.ui-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
  /* Let clicks pass through to 3D scene */
  z-index: 10;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}